.partybox {
  height: 50%;
  /*width: 50%;*/
  background-color: rgba(78, 76,76, 0.8);
  color: white;
  border-radius: 5px;
  border: 2px solid grey;
  margin: 3px;
  padding: 3px;
}

.ourstory {
  height: 120%;
  background-color: rgba(78, 76,76, 0.8);
  color: white;
  border-radius: 5px;
  border: 2px solid grey;
  margin: 10px;
  padding: 7px;
  font-size: 17px;
}

.timelinephoto {
  height: 50%;
}

ul {
  list-style-type: none;
}

/*a {
  color: #770000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: red;
  text-shadow: white;
}*/

.sebm-google-map-container {
  height: 400px;
}

.partybox p {
  font-size: 40px;
}
