<div class="col-xs-12">
  <header>
    <h2>Responses: </h2>
  </header>
</div>

<div *ngFor="let guest of guests">
  <div class="col-xs-12" *ngIf="guest.answers">
    <div class="partybox" >
      <h4>ID: {{guest.$key}}</h4>
      <div *ngFor="let answer of guest.answers">
        <h3 *ngIf="answer.name">Name: {{answer.name}} -- <span *ngIf="answer.rsvp">Reply: {{answer.rsvp}}</span></h3>
        <h4 *ngIf="answer.note">Note: {{answer.note}}</h4>
        <h4 *ngIf="answer.plusone">Plus 1 Info: {{answer.plusone}}</h4>
      </div>
    </div>
  </div>
</div>
