<div class="col-xs-12">
  <header>
    <h1>Kaylyn & Keith</h1>
  </header>

  <h4>Our Story | Wedding Party | Pictures</h4>

  <h2>Our Story</h2>
</div>

<div class="col-xs-12 ourstory">
  <p>Kaylyn and Keith have a pretty long history, which seriously, don't need all the details for.... Anyways, they actually met back in high school when Kaylyn joined the youth group that her siblings were a part of, Keith was 14 and Kaylyn was 15. They started dating a year later.</p>
  <p>These two had a long journey from spending years together in high school, to going their seperate ways after that, only to find each other again later in life.</p>
  <p>After being back together, Keith and Kaylyn then moved out to Colorado for Keith to go to school at Galvanize. Then Kaylyn also went to Galvanize after Keith, both becoming web developers at SEI Investments in Oaks PA.</p>
  <p>Long story short (for real), these two have known each other for more than a decade, have loved each other early on in their lives only to find that same love once more later on. They both moved to find a better place and to move forward and grow together. They have proved time and time again, that no matter how hard things get, they always have each other for better or for worse (punsssss). </p>
  <p>These two can't wait to get married and continue their lives together. And of course have many fierce competitions with Mario Party and Rocket League. </p>
</div>

<div class="col-xs-12">
  <h2>Wedding Party</h2>
</div>

<div class="col-xs-12">
  <h3>Bridesmaids</h3>
</div>
<div *ngFor="let bridesmaid of bridesmaids">
  <div class="col-md-3 col-xs-12 partybox">
    <h4>{{bridesmaid.name}}</h4>
    <h4>Role: {{bridesmaid.role}}</h4>
  </div>
</div>

<div class="col-xs-12">
  <h3>Groomsmen</h3>
</div>
<div *ngFor="let groomsman of groomsmen">
  <div class="col-md-3 col-xs-12 partybox">
    <h4>{{groomsman.name}}</h4>
    <h4>Role: {{groomsman.role}}</h4>
  </div>
</div><br>

<div class="col-xs-12">
  <h2>Pictures</h2>
</div>
<div class="col-xs-12">
  <h3>It All Started In High School.... </h3>
</div>

<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/Oct2007.jpg" >
</div>
<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/KeithProm.jpg" >
</div>
<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/KaylynGrad.jpg" >
</div>
<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/frisbeeafter.jpg" >
</div>
<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/KaylynBall.jpg" >
</div>
<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/KaylynBall4.jpg" >
</div>

<div class="col-xs-12">
  <h3>Moving Out To Colorado Together....</h3>
</div>

<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/FirstCOHike.jpg" >
</div>
<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/COHikeWinter.jpg" >
</div>
<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/COHalloween.jpg" >
</div>
<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/COChristmas.jpg" >
</div>

<div class="col-xs-12">
  <h3>With the Boys</h3>
  <h4>(Fry & Revan)</h4>
</div>

<div class="col-xs-12">
  <img style="height: 50%; width: 50%; margin: 5px;" src="assets/TimelinePhotos/TheBoys.jpg" >
</div>

<div class="col-xs-12">
  <h3>Til Now...</h3>
</div>

<div class="col-xs-6">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/Oct2016.jpg" >
</div>
<div class="col-xs-6 timelinephoto">
  <img style="height: 70%; width: 70%; margin: 5px;" src="assets/TimelinePhotos/Dec2016.jpg" >
</div>
