
<div class="col-xs-12">
  <div>
    <h2>Thank you for RSVPing to our Wedding</h2>
    <div *ngFor="let guest of guests">
      <h3>{{guest}}</h3>
    </div>
  </div>
  <form class="form-horizontal">
    <div class="form-group" *ngFor="let guest of guests">
      <div>
      <label for="name" class="col-sm-4 control-label">Are you attending {{guest}}?</label>
        <label class="checkbox-inline col-sm-3">
          <input type="checkbox" (click)="updateRsvp(guest, 'Yes')"> Game On! I'll be there!
        </label>
        <label class="checkbox-inline col-sm-3">
          <input type="checkbox" (click)="updateRsvp(guest, 'No')"> Game Over, can't make it...
        </label>
      </div>
    </div>
    <div [hidden]="!household?.plus1">
      <div class="form-group">
        <label for="name" class="col-sm-4 control-label">Plus 1's Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" placeholder="Name" #plusone>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="note" class="col-sm-4 control-label">Notes??</label>
      <div class="col-sm-6">
        <textarea class="form-control" rows="3" id="note" #notes></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button (click)="submitRsvp(notes.value, plusone.value)" type="button" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
