
<div class="col-xs-12">
  <div>
    <h2>Thank you for RSVPing to our Wedding!!</h2>
    <div *ngFor="let guest of guests">
      <h3>{{guest}}</h3>
    </div>
  </div>
  <form class="form-horizontal">
    <div class="form-group" *ngFor="let guest of guests">
      <div>
      <label class="col-sm-4 control-label">Are you attending {{guest}}?</label>
      <div *ngFor="let status of statuses">
        <label [attr.for]="guest" class="radio-inline col-sm-3">
          <input type="radio" [value]="status" [attr.name]="guest" (change)="updateRsvp(guest, status, $event)"> {{status}}
        </label>
      </div>
      </div>
    </div>
    <div [hidden]="!household?.plus1">
      <div class="form-group">
        <label for="name" class="col-sm-4 control-label">Plus 1's Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" placeholder="Name" #plusone>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="note" class="col-sm-4 control-label">Notes for the Couple??</label>
      <div class="col-sm-6">
        <textarea class="form-control" rows="3" id="note" #notes></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!answers.length" (click)="submitRsvp(notes.value, plusone.value)" type="button" class="btn btn-default">Submit<i *ngIf="loading" class="fa fa-spinner fa-spin fa-lg fa-fw"></i></button>
      </div>
    </div>
  </form>
  <div *ngIf="error">
    <div  class="alert alert-danger" role="alert">Something went wrong, try again later please. If this keeps happening, contact one of those developers at vann5674@gmail.com</div>
  </div>
</div>
