
<div class="col-xs-12">
  <div>
    <h2>Thank you for RSVPing to our Wedding</h2>
    <div *ngFor="let guest of guests">
      <h3>{{guest}}</h3>
    </div>
  </div>
  <form class="form-horizontal">
    <div class="form-group" *ngFor="let guest of guests">
      <label for="name" class="col-sm-4 control-label">Are you attending {{guest}}?</label>
      <div>
        <label class="checkbox-inline col-sm-3">
          <input type="checkbox" (click)="updateRsvp(guest, 'Yes')"> Game On! I'll be there!
        </label>
        <label class="checkbox-inline col-sm-3">
          <input type="checkbox" (click)="updateRsvp(guest, 'No')"> Game Over, can't make it...
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button (click)="submitRsvp()" type="button" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
