<div class="col-xs-12">
  <h2>The Wedding Day</h2>
</div>
<div class="col-xs-12 ourstory">
  <h3>The Ceremony</h3>
    <p>Ceremony starts at 4:00 pm at the Plantation Party House</p>
    <p>Located at: 1875 N Union St, Spencerport NY</p>
  <h3>The Reception: Runs from 4:30 til 12:30</h3>
    <p>4:30 -- Open Bar, Hors d’oeuvres begin</p>
    <p>5:30 - 7:00 -- Dinner</p>
    <p>**Bar will be cash bar during dinner, we will resume open bar after dinner**</p>
    <p>10:30 -- Open bar ends, Cash bar available</p>
    <p>**Please Note -- The Plantation House ID's, so have your ID available!</p>
</div>

<div class="col-xs-12">
  <h2>Other Events</h2>
</div>
<div class="col-xs-12 ourstory">
  <h3>Friday, November 3rd</h3>
    <p>Join us for Drinks and Food at</p>
    <p>The Rotary Lodge in Greece Canal Park</p>
    <p>At 7:30 - 10:00 PM</p>
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
</div>

<div class="col-xs-12">
  <h2>Accommodations</h2>
</div>
<div class="col-xs-12 ourstory">
  <h3>Hotel</h3>
    <p>There are a number of hotels around the venue and great places to stay in the Rochester area</p>
    <p>We have set aside a number of rooms at the Rochester Airport Mariott Hotel.</p>
    <h4><a href="http://www.marriott.com/hotels/travel/rocap-rochester-airport-marriott/">Hotel Info</a></h4>
    <h4>Online Booking Instructions</h4>
    <ul>
      <li>Go <a href="www.marriot.com/rocap">here</a></li>
      <li>Select check-in/check-out dates</li>
      <li>Click on Special Rates & Awards</li>
      <li>Click on Group Code and enter VANVANA (King Room) or VANVANB (Double Room)</li>
    </ul>
    <p>If you would prefer, you may call Marriot Central Reservations directly at (800)228-9290 and say you are part of the Van Norstrand/Hopkins wedding</p>
</div>

<div class="col-xs-12">
  <h2>Travel & Transportation</h2>
</div>
<div class="col-xs-12 ourstory">
  <h4>**NOTE: Rochester has Uber and Lyft if you need it**</h4>
  <h3>Directions To The Rochester Airport Marriott Hotel:</h3>
    <p>Take I-90 W toward Buffalo</p>
    <p>Take exit 45 for I-490W toward Rochester</p>
    <p>Continue onto I-490 W</p>
    <p>Take exit 9A for New York 390 N toward NY-31/Lyell Ave</p>
    <p>Merge onto NY-390 N</p>
    <p>Take exit 24B to merge onto NY-104 W/W Ridge Rd</p>
    <p>Merge onto NY-104 W/W Ridge Rd</p>
    <p>Continue to 1890 W Ridge Rd, Rochester, NY 14615</p>
  <h3>Directions To The Plantation Party House:</h3>
    <p>Take I-90 W toward Buffalo</p>
    <p>Take exit 45 for I-490 toward Rochester</p>
    <p>Continue onto I-490 W</p>
    <p>Take the NY-531 W exit toward Spencerport/Brockport</p>
    <p>Continue onto NY-531 W</p>
    <p>Take the exit toward Manitou Rd</p>
    <p>Turn right onto Manitou Rd</p>
    <p>Turn left onto NY-104 W</p>
    <p>Turn left onto NY-259 S/Union St.</p>
    <p>Continue to 1875 N Union St, Spencerport, NY 14559</p>
  <h3>Directions From The Hotel To The Plantation Party House:</h3>
    <p>Head west on NY-104 W/W Ridge Rd toward Fetzner Rd</p>
    <p>Turn left onto NY-259 S/Union St.</p>
    <p>Continue to 1875N Union St, Spencerport, NY 14559</p>
</div>

<div class="col-xs-12">
  <h2>Here Early?</h2>
</div>
<div class="col-xs-12 ourstory">
  <h3>Rochester Home Brews</h3>
    <p>Rochester has a lot of home brewies for beer lovers out there!</p>
    <ul>
      <li><a href="http://rocbrewingco.com/" target="_blank">Roc Brewing Co.</a></li>
      <li><a href="http://www.geneseebeer.com/brewhouse/" target="_blank">Genesee Brew House</a></li>
      <li><a href="http://rohrbachs.com/" target="_blank">Rohrbach Beer Hall</a></li>
      <li><a href="http://swiftwaterbrewing.com/" target="_blank">Swiftwater Brewing Company</a></li>
    </ul>

    <p>We also recommend our personal favorite for those who love liquor:</p>
    <ul>
      <li><a href="https://blackbuttondistilling.com/" target="_blank">Black Button Distilling</a></li>
    </ul>

  <h3>Home of the Garbage Plate</h3>
    <p>One of our favorite parts of Rochester is the Garbage Plate, cuz hey, we're famous for it! We know there are a few of you out there that have not had it yet, these are just some of the few Rochester favorites for the Garbage Plate</p>
    <ul>
      <li><a href="http://dogtownhots.com/" target="_blank">Dogtown</a> (Personal Favorite)</li>
      <li><a href="http://garbageplate.com/" target="_blank">Nic Tahou</a> (Original Garbage Plate)</li>
      <li><a href="https://www.yelp.com/biz/henrietta-hots-rochester" target="_blank">Henrietta Hots</a></li>
    </ul>
  <h3>Other Food Options</h3>
    <p>Of course, we're not all bout the Garbage Plates! If you prefer some other amazing Rochester Restaurants, here are a few of our favorites:</p>
    <ul>
      <li><a href="http://www.salenas.com/" target="_blank">Selena's Mexican Restaurant</a></li>
      <li><a href="http://www.restaurantgoodluck.com/" target="_blank">Good Luck</a></li>
      <li><a href="http://thegatehousecafe.com/" target="_blank">The Gate House</a></li>
      <li><a href="http://www.mccannslocalmeats.com/" target="_blank">McCann's Local Meats</a></li>
      <li><a href="http://www.allrochesterrestaurants.com/" target="_blank">And Plenty More!!</a></li>
    </ul>

</div>
