<div class="col-xs-12">
  <h2>The Wedding Day</h2>
  <div class="col-xs-12 ourstory">
    <h3>The Ceremony</h3>
      <p>Ceremony starts at 4:00 pm at the Plantation Party House</p>
      <p>Located at: 1875 N Union St, Spencerport NY</p>
    <h3>The Reception: Runs from 4:30 til 12:30</h3>
      <p>4:30 -- Open Bar, Hors d’oeuvres begin</p>
      <p>5:30 - 7:00 -- Dinner</p>
      <p>9:30 -- Open bar ends, Cash bar available</p>
      <p>**Please Note -- The Plantation House ID's, so have your ID available!</p>
  </div>
</div>

<div class="col-xs-12">
  <h2>Accommodations</h2>
</div>

<h4>TBA</h4>

<div class="col-xs-12">
  <h2>Travel & Transportation</h2>
</div>

<h4>TBA</h4>

<div class="col-xs-12">
  <h2>Here Early?</h2>
</div>

<h4>TBA</h4>
