<div class="col-xs-12">
  <h2>The Wedding Day</h2>
</div>
<div class="col-xs-12 ourstory">
  <h3>The Ceremony</h3>
    <p>Ceremony starts at 4:00 pm at the Plantation Party House</p>
    <p>Located at: 1875 N Union St, Spencerport NY</p>
  <h3>The Reception: Runs from 4:30 til 12:30</h3>
    <p>4:30 -- Open Bar, Hors d’oeuvres begin</p>
    <p>5:30 - 7:00 -- Dinner</p>
    <p>9:30 -- Open bar ends, Cash bar available</p>
    <p>**Please Note -- The Plantation House ID's, so have your ID available!</p>
</div>

<div class="col-xs-12">
  <h2>Accommodations</h2>
</div>
<div class="col-xs-12 ourstory">
  <h3>Hotel</h3>
    <p>There is a number of hotels around the venue and great places to stay in the Rochester area</p>
    <p>We have set aside a number of rooms at the Rochester Airport Mariott Hotel. Just call and ask say that you are here for our wedding!!</p>
    <h3><a href="http://www.marriott.com/hotels/travel/rocap-rochester-airport-marriott/">Hotel Info</a></h3>
</div>

<div class="col-xs-12">
  <h2>Travel & Transportation</h2>
</div>

<h4>TBA</h4>

<div class="col-xs-12">
  <h2>Here Early?</h2>
</div>
<div class="col-xs-12 ourstory">
  <h3>Rochester Home Brews</h3>
    <p>Rochester has a lot of home brewies for beer lovers out there!</p>
    <ul>
      <li><a href="http://rocbrewingco.com/" target="_blank">Roc Brewing Co.</a></li>
      <li><a href="http://www.geneseebeer.com/brewhouse/" target="_blank">Genesee Brew House</a></li>
      <li><a href="http://rohrbachs.com/" target="_blank">Rohrbach Beer Hall</a></li>
      <li><a href="http://swiftwaterbrewing.com/" target="_blank">Swiftwater Brewing Company</a></li>
    </ul>

    <p>We also recommend our personal favorite for those who love liquor:</p>
    <ul>
      <li><a href="https://blackbuttondistilling.com/" target="_blank">Black Button Distilling</a></li>
    </ul>

  <h3>Home of the Garbage Plate</h3>
    <p>One of our favorite parts of Rochester is the Garbage Plate, cuz hey, we're famous for it! We know there are a few of you out there that have not had it yet, these are just some of the few Rochester favorites for the Garbage Plate</p>
    <ul>
      <li><a href="http://dogtownhots.com/" target="_blank">Dogtown</a> (Personal Favorite)</li>
      <li><a href="http://garbageplate.com/" target="_blank">Nic Tahou</a> (Original Garbage Plate)</li>
      <li><a href="https://www.yelp.com/biz/henrietta-hots-rochester" target="_blank">Henrietta Hots</a></li>
    </ul>
  <h3>Other Food Options</h3>
    <p>Of course, we're not all bout the Garbage Plates! If you prefer some other amazing Rochester Restaurants, here are a few of our favorites:</p>
    <ul>
      <li><a href="http://www.salenas.com/" target="_blank">Selena's Mexican Restaurant</a></li>
      <li><a href="http://www.restaurantgoodluck.com/" target="_blank">Good Luck</a></li>
      <li><a href="http://thegatehousecafe.com/" target="_blank">The Gate House</a></li>
      <li><a href="http://www.mccannslocalmeats.com/" target="_blank">McCann's Local Meats</a></li>
      <li><a href="http://www.allrochesterrestaurants.com/" target="_blank">And Plenty More!!</a></li>
    </ul>

</div>
