<div class="col-xs-12">
  <header>
    <h2>Bridal Shower</h2>
    <h3>Location Island Shelter in Ellison Park</h3>
    <h3>Rochester, NY</h3>
    <h5>Time 11:30AM - 3:00PM</h5>
  </header>
</div>

<div class="col-xs-12">
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
  <h3>Also here's a Link: <a href="https://www.google.com/maps/place/Island+Shelter/@43.1462348,-77.5169181,17.7z/data=!4m5!3m4!1s0x89d6cbaaad079125:0xbe738529a6631697!8m2!3d43.1450539!4d-77.515922">Bridal Shower</a></h3>
</div>
